<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Avalon&#39;s Altar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="stylesheets/show.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <div class="fixed_nav_merchant_index">
  <nav class="navbar_dash">
      <h1><a href="/">Home</a></h1>
      <h1><a href="/merchants">All Merchants</a></h1>
      <h1><a href="/items">All Items</a></h1>
      <h1><a href="/categories">Categories</a></h1>
  </nav>
  <div class="title_on_page_background2">
    <section class="title_on_page2">
      <h1>Merchant Metrics</h1>
    </section>
  </div>
  </div>
  <div class="page_content">
  <div class="all_merchants_breakdown">
    <p>Golden Merchant</p>
      <ul>
        <div class="golden_elements">
        <li><%= @golden_merchant.name %></li>
        <li><%= @golden_merchant.id %></li>
        <li><%= @item.name %></li>
        <li><%= @item.price %></li>
      </div>
      </ul>
    </div>
      <div class="all_merchants_breakdown">
    <p>Most Item Merchants</p>
    <ul class="most_item_merchants">
    <% @high_item_merchant.each do |merchant| %>
    <li> <%=merchant.name%> </li>
    <li>Item Count: <%= merchant.total_items %></li>
    <br/>
    <% end %>
  </div>
  </ul>
    <div class="all_merchants_breakdown"
      <p>Merchant / Item Breakdown</p>
        <% @merchants.each do |merchant| %>
        <ol>
          <li>Merchant Name: <%= merchant.name %></li>
          <li>Item Count: <%= merchant.items.count%></li>
          <li>Sum Price Of All Items: <%= merchant.item_total_sum %></li>
        </ol>
        <% end %>
      </div>
    </div>
    </div>
</html>
