<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Avalon&#39;s Altar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="stylesheets/show.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <nav class="navbar">
      <h1><a href="/">Home</a></h1>
      <h1><a href="/merchants">All Merchants</a></h1>
      <h1><a href="/items">All Items</a></h1>
      <h1><a href="/categories">Categories</a></h1>
  </nav>
  <h1>Merchant Metrics</h1>
    <p>Golden Merchant</p>
      <ul>
        <li><%= @golden_merchant.name %></li>
        <li><%= @golden_merchant.id %></li>
        <li><%= @item.name %></li>
        <li><%= @item.price %></li>
      </ul>
    <p>Most Item Merchant(s)</p>
    <ul>
    <% @high_item_merchant.each do |merchant| %>
      <ul>
        <li>merchant.name</li>
      </ul>
      <% end %>
    <li>Item Count: <%= @high_item_merchant.items.count %></li>
  </ul>
    <div class="all_merchants_breakdown"
      <p>Merchant / Item Breakdown</p>
        <% @merchants.each do |merchant| %>
        <ul>
          <li>Merchant Name: <%= merchant.name %></li>
          <li>Item Count: <%= merchant.items.count%></li>
          <li>Sum Price Of All Items: <%= merchant.item_total_sum %></li>
        </ul>
        <% end %>
    </div>
  <ul>
  </ul>
  <div id="infinity"></div>
</html>
