<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Avalon&#39;s Altar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="stylesheets/show.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <nav class="navbar">
      <h1><a href="/">Home</a></h1>
      <h1><a href="/merchants">All Merchants</a></h1>
      <h1><a href="/items">All Items</a></h1>
      <h1><a href="/categories">Categories</a></h1>
  </nav>
  <h1>Merchant Metrics</h1>
    <p>Golden Merchant</p>
        <p><%= @golden_merchant.name %></p>
        <p><%= @golden_merchant.id %></p>
        <p><%= @item.name %></p>
        <p><%= @item.price %></p>
      <div class="all_merchants_breakdown"
    <p>Most Item Merchants</p>
    <% @high_item_merchant.each do |merchant| %>
    <p><%=merchant.name%></p>
    <p>Item Count: <%= merchant.total_items %></p>
    <br/>
    <% end %>
  </div>
  </ul>
    <div class="all_merchants_breakdown"
      <p>Merchant / Item Breakdown</p>
        <% @merchants.each do |merchant| %>
        <div class="each_merchant">

        </div>
        <ul>
          <p>Merchant Name: <%= merchant.name %></p>
          <p>Item Count: <%= merchant.items.count%></p>
          <p>Sum Price Of All Items: <%= merchant.item_total_sum %></p>
        </ul>
        <% end %>
      </div>
    </div>
</html>
