<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>Avalon&#39;s Altar</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <body>
  <nav class="navbar">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/merchants">All Merchants</a></li>
    <li><a href="/items">All Items</a></li>
    <li><a href="/categories">Categories</a></li>
  </ul>
  </nav>
  <div class="title_on_page_background">
    <section class="title_on_page">
      <h1>Avalon&#39;s Altar Complete Merchant List</h1>
    </section>
  </div>
  <a href="/merchants/new">Create a merchant</a>
  <section class="container">
  <% @merchants.each do |merchant| %>
      <article class="card">
        <p class="merch_id_link"><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></p>
        <div class="merchant<%= merchant.id %>">
        <a href="/merchants/<%= merchant.id  %>/edit">Edit</a>
        <form action="/merchants/<%= merchant.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="delete" class="delete_button"/>
        </form>
      </div>
    </article>
    <% end %>
  </section>
</div>
</body>
</html>
