<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Avalon&#39;s Altar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <section class="navbar">
    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="/items">Items</a>
    <a href="/merchants">Merchants</a>
  </section>
  <body>
  <form action="/items/<%= @item.id %>" method="POST">
    <p>Edit</p>
    <div class="input_params">
    <input type="hidden" name="_method" value="PUT" />
    <a>Edit Name</a>
    <input type='text' name='item[name]' value="<%= @item.name %>"/><br/>
    <a>Edit Description</a>
    <input type='text' name='item[description]' value="<%= @item.description %>"</><br/>
    <a>Edit Price</a>
    <input type='decimal' name='item[price]' value="<%= @item.price %>"/><br/>
    <a>Img URL</a>
    <input type='text' name='item[image]' value="<%= @item.image %>"/><br/>
    <div class="submit_box">
      <input type='submit'/>
    </div>
  </div>
  </form>
</body>
</html>
