<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Avalon&#39;s Altar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <body>
    <h1>All Items</h1>
    <a href="/items/new">Create an item</a>
      <% @items.each do |item| %>
          <h3 class="all_items_id_link"><a href="/items/<%= item.id %>"><%= item.name %></a></h3>
          <img class= "itemimage" src=<%=item.image %> width=50% hegiht=50%>
          <a href="/items/<%= item.id  %>/edit" class="all_items_edit">Edit</a>
          <form action="/items/<%= item.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
            <% end %>
        <form>
  </body>
</html>
