<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>Bazaar Crystals</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <a href="/items">Items Index</a>
    <h1><%= @item.name %></h1>
    <p><%= @item.id %></p>
    <p><%= @item.description %></p>
    <p><%= @item.price %></p>
    <p><%= @item.image %></p>
  </body>
</html>
