<h1> All Categories </h1>
<% @categories.each do |category| %>
<h3><a href= "/categories/<%= category.id %>"> <%= category.id%></a></h3>
 <p><%= category.name%></p>
 <a href="/categories/<%= category.id%>/edit">Edit</a>
 <form action="/categories/<%= category.id %>" method= "POST">
   <input type="hidden" name="_method" value="DELETE">
   <input type="Submit" value="delete"/>
 </form>
<% end %>
